.stats-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.stat-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  padding: 20px 15px;
  width: 270px;
  background-color: #fff;
  position: relative;
}

.stat-card::after {
  content: "";
  width: 60%;
  height: 8px;
  background-color: #ffadfa;
  position: absolute;
  bottom: 0;
  left: 20%;
}

/* Specific style for Tenants card */
.tenants-card::after {
  background-color: #caffad; /* Color for Tenants card */
}

.stat-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
}

.stat-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-value {
  font-size: 30px;
  margin: 0;
}

.stat-title {
  font-size: 17px;
  color: #6c757d;
  margin: 0;
}

/* Responsive styles */
@media (max-width: 575px) {
  .stat-card {
    width: 100px;
    padding: 15px;
  }

  .stat-value {
    font-size: 24px;
  }

  .stat-title {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .stat-card {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .stat-card {
    width: 140px;
  }
}
